body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 80%;
  height: 120px;
  padding: 10px;
  font-size: 16px;
}

select {
  padding: 6px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  margin: 8px;
  font-size: 15px;
  cursor: pointer;
}

#paper {
  width: 80%;
  min-height: 450px;
  margin: 20px auto;
  background: white;
  padding: 30px 25px 25px 40px;
  border: 1px solid #aaa;

  background-image: linear-gradient(
    to bottom,
    #e6e6e6 1px,
    transparent 1px
  );
  background-size: 100% 32px;
}

#outputText {
  font-family: 'Kalam', cursive;
  text-align: left;
  white-space: pre-wrap;

  /* IMPORTANT FOR ALIGNMENT */
  margin: 0;
  padding: 0;
}
#outputText {
  font-family: Kalam, Noto Sans Devanagari, sans-serif;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
